<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elenco Utenti</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
    <div class="table-responsive" th:if="${not #lists.isEmpty(utenti)}">
        <table>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Matricola</th>
                <th>Data Assegnazione</th>
                <th>Data Ritiro</th>
                <th>&nbsp;</th>
            </tr>
            <tr th:each="utente : ${utenti}">
                <!--/*@thymesVar id="utenti" type="org.barberini.sim_manager.model.Utenti"*/-->
                <td th:text="${utente.nome}"></td>
                <td th:text="${utente.cognome}"></td>
                <td th:text="${utente.matricola}"></td>
                <td th:text="${utente.dataAssegnazione}"></td>
                <td th:text="${utente.dataRitiro}"></td>
            </tr>
        </table>
    </div>
    <div th:insert="~{fragments/footer :: copy}"></div>
</body>
</html>